@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}
    .gallery {
        @apply bg-slate-800;
    }

.background { 
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #D4A883;
}

@media (max-width: 480px) {
            .background {
                background-image: url(../public/bg.webp);
            }
        }
        
        @media (min-width: 481px) and (max-width: 1024px) {
            .background {
                background-image: url(../public/bg.webp);
            }
        }
        
        @media (min-width: 1025px) {
            .background {
                background-image: url(../public/bg.webp);
            }
        }