@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}
    .gallery {
        @apply bg-slate-800;
    }

@media screen and (max-width: 768px) { 
    html {
    scroll-behavior: smooth;
    zoom:1;
    transform-scale:1;
    }
    body {
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
        }
    }